<h4>Index of authors</h4>

<p><%= link_to 'Add author', new_author_path, class: "btn btn-primary" %></p>

<ul class="list-group">
	<% @authors.each do |item| %>
		<li class="list-group-item"><%= link_to item.name, author_path(item) %> <span class="badge badge-light"><%= "#{item.books.count} books" %></span></li>
	<% end %>
</ul>